# Core packages
setuptools>=68.0.0
wheel

# Streamlit for the app
streamlit==1.26.0

# Data processing
numpy>=1.25.0
pandas>=2.0.3
scipy>=1.10.1

# Machine learning
scikit-learn>=1.7,<1.8
category-encoders>=2.8.2

# Visualization
matplotlib>=3.7.2
seaborn>=0.12.2
plotly>=5.15.0

# Optional: For nicer exception logging
rich>=14.0.0
markdown-it-py>=2.2.0
pygments>=2.13.0
mdurl~=0.1
